# Terraform working directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backup files
*.backup
terraform.tfvars
# Terraform crash logs
crash.log
crash.*.log

# macOS
.DS_Store
environments/dev/tfplan

# Installer packages
*.pkg