# Terraform working directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backup files
*.backup

# Local Terraform variable overrides
*.auto.tfvars
*.auto.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# macOS
.DS_Store

# Terraform plan files
environments/dev/tfplan

# Installer packages
*.pkg